@import '@/assets/scss/variables';

:root {
  --wrap-div-width: 100%;

  @media (min-width: 600px) {
    --wrap-div-width: 60rem;
  }
}

body {
  background: $background-color;
}

main {
  overflow: hidden;
}

.link {
  cursor: pointer;
}

.v-main {
  justify-content: center;

  &__wrap {
    flex: 0 !important;
    display: flex;
    justify-content: center;

    > div {
      width: var(--wrap-div-width);
    }

    aside {
      flex: 0 1 25%;
    }

    .container {
      flex: 1 1 36rem;
    }
  }
}

.v-toolbar__content {
  background: $header-bg-color;
  color: rgba(245, 245, 245, 0.8) !important;

  a {
    color: rgba(245, 245, 245, 0.8) !important;
    text-decoration: none;
  }
}

hr {
  margin-top: 1rem;
}

.nuxt-content {
  a {
    color: white;
  }

  h2 {
    font-size: 3rem;
    line-height: 1.5em;
  }

  h3 {
    font-size: 2.75rem;
    line-height: 1.5em;
    margin-bottom: 0.5em;
  }

  h4 {
    font-size: 2.05rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 1em;
  }

  code {
    color: white !important;
    padding: 1px 5px !important;
    font-size: 14px !important;
    background: #1b4c5f !important;
    font-weight: 400 !important;
  }

  pre {
    background: #1b4c5f !important;
    font-weight: 700 !important;
    text-shadow: none !important;

    .token {
      &.keyword,
      &.attr-value {
        color: #43b2dc;
      }

      &.selector,
      &.attr-name,
      &.char,
      &.builtin,
      &.inserted,
      &.string,
      &.number {
        color: #3dff5f;
      }

      &.function,
      &.tag {
        color: #9ce3ff;
      }

      &.operator {
        color: inherit;
        background: inherit;
      }

      &.punctuation {
        color: inherit;
      }
    }
  }
}

.v-application ol {
  padding-bottom: 1rem !important;
}
